<div class="form-group">
  <%= form_for(acticle) do |f| %>
    <% if acticle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(acticle.errors.count, "error") %> prohibited this acticle from being saved:</h2>

        <ul>
        <% acticle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
