<p id="notice"><%= notice %></p>

<h1>Acticles</h1>
<div class="row">
  <div class="col-sm-8">
    <%= form_tag acticles_path, :method => 'get', class: "form-group" do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Enter your search query here' %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <%= render @acticles %>
  </div>
</div>

<%= link_to 'New Acticle', new_acticle_path, class: "btn btn-primary" %>
