<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <%= @acticle.title %>
    </h4>
    <p class="card-text">
      <%= @markdown.render(@acticle.body).html_safe %>
    </p>
  </div>
  <div class="card-footer">
    <%= link_to 'Destroy', @acticle, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning"%>
    <%= link_to 'Edit', edit_acticle_path(@acticle), class: "btn btn-warning"%>
    <%= link_to 'Back', acticles_path, class: "btn btn-warning"%>
  </div>
</div>
